@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
}

header {
  height: 64px;
  width: 100%;
  background-color: rgb(66, 66, 66);
  top: 0;
  z-index: 10;
  position: fixed;
  opacity: 0.8;
}

.header-menu li {
  float: right;
  padding: 24px 24px;
}

.header-menu a {
  color : white;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  transition: 0.3s;
  padding: 24px 24px;
  border-radius: 5px; 
  margin: 24px 24px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.skills-wrapper{
  margin: 48px 48px;
  text-align: center;
}

.skills {
  width: 20%;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 120px;
}

footer {
  height: 64px;
  background-color: rgb(66, 66, 66);
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: white;
  padding: 24px 24px;
}