@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to top left, rgb(30 41 59), rgb(15 23 42));
  color: rgb(203 213 225);
}

.body-bright-mode {
  background: linear-gradient(to top left, rgb(203 213 225), rgb(148 163 184));
  color: rgb(15 23 42);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(203 213 225);
}

.a-bright {
  color: rgb(15 23 42);
}

.header-menu {
  height: 68px;
  width: 100%;
  background-color: rgb(15 23 42);
  right: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  opacity: 0.8;
}

.header-menu-bright {
  background-color: rgb(203 213 225);
}

.header-menu li {
  float: left;
  padding-left: 64px;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.header-menu li:hover {
  opacity: 0.6;
}

.header-menu .icon {
  font-size: 24px;
  padding: 18px 24px;
  display: none;
  opacity: 0.8;
}

.header-menu .icon:hover{
  opacity: 0.6;
}

.header-menu label{
  float: right;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.heading {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(15 23 42);
  transition: 0.3s;
  padding: 0 24px;
  border-radius: 5px; 
  margin: 24px 24px;
  display: inline-block;
  text-align: center;
}

.card-bright {
  box-shadow: 0 4px 8px 0 rgb(203 213 225);
}

.card img { 
  width: 100%;
  height: auto;
}

.card h4{
  font-size: 24px;
  padding: 8px 0;
}

.card h6{
  font-size: 18px;
  padding: 8px 0;
  font-weight: 500;
}

.card p {
  font-size: 18px;
  padding: 8px 0;
  text-align: justify;
}

.card:hover {
  transform: translateY(-6px);
}

.home-wrapper{
  margin: 48px 48px;
  text-align: center;
}

.typewriter{ 
  margin-top: 200px;
  margin-bottom: 132px;
}

.typewriter h1 {
  font-size: 64px;
  overflow: hidden;
  border-right: .15em solid rgb(15 23 42);
  white-space: nowrap;
  margin: 16px auto; 
}

.btn {
  background-color: rgb(30 41 59);
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 32px;
}

.btn span{
  margin-right: 8px;
}

.btn-bright {
  background-color: rgb(148 163 184);
}

.btn:hover {
  opacity: 0.6;
}

.about-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.about {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-about {
  width: 80%;
}

.skills-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.skills {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.portofolio-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.portofolio {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-portofolio {
  width: 25%;
  height: auto;
}

.font-link-portofolio {
  font-size: 28px;
}

.portofolio p{
  height: 200px;
}

.portofolio span:hover {
  opacity: 0.6;
}

.contact-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.contact {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-contact {
  width: 15%;
}

.font-link-contact {
  font-size: 48px;
}

.contact span:hover {
  opacity: 0.6;
}

.fa-solid-bright{
  color: rgb(15 23 42);
}

footer {
  background-color: rgb(15 23 42);
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  position: relative;
}

.footer-bright {
  background-color: rgb(203 213 225);
}

footer .up {
  height: 20px;
  text-align: center;
}

footer .down{
  height: 40px;
  text-align: center;
}

footer a {
  text-align: center;
  padding: 24px 24px;
  font-size: 18px;
}

footer a:hover {
  opacity: 0.6;
}

footer p {
  text-align: center;
  color: rgb(203 213 225);
  padding-bottom: 18px;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .header-menu li {
    padding-left: 84px;
  }

  .home-wrapper h1 {
    font-size: 56px;
  }

  .heading {
    font-size: 32px;
  }

  .width-about {
    width: 90%;
  }
  
  .width-portofolio {
    width: 40%;
    height: auto;
  }
  
  .width-contact {
    width: 25%;
  }

  .portofolio p{
    height: 148px;
  }
}

@media (max-width: 768px) {
  .header-menu.responsive {
    height: 388px;
  }

  .header-menu .icon {
    display: block;
  }

  .header-menu-bright .icon {
    display: block;
    color: rgb(15 23 42);
  }
  
  .header-menu li {
    float: none;
    display: none;
    padding: 16px 24px;
  }

  .header-menu label {
    float: none;
    display: none;
  }
  
  .header-menu.responsive li {
    float: none;
    display: block;
  }

  .header-menu.responsive label{
    float: none;
    display: block;
  }

  .home-wrapper h1 {
    font-size: 36px;
  }

  .btn {
    padding: 14px 28px;
    font-size: 14px;
  }

  .heading {
    font-size: 28px;
  }

  .font-link-contact {
    font-size: 40px;
  }

  .font-link-portofolio {
    font-size: 24px;
  }
  
  .width-portofolio {
    width: 90%;
    height: auto;
  }
  
  .width-contact {
    width: 40%;
  }

  .btn {
    padding: 14px 28px;
    font-size: 14px;
  }

  .card h4{
    font-size: 20px;
  }

  .card h6{
    font-size: 16px;
  }
  
  .card p {
    font-size: 16px;
  }  

  .portofolio p{
    height: auto;
  }
  
  footer a {
    padding: 16px 16px;
  }

  footer p {
    font-size: 16px;
  }
}

.switch {
  position: relative;
  margin: 18px 18px;
  width: 48px;
  height: 28px;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

input:checked + body {
  background: linear-gradient(to top left, rgb(241 245 249), rgb(226 232 240));
  color: rgb(15 23 42);
}

input:checked + body .bright-mode {
  background: linear-gradient(to top left, rgb(241 245 249), rgb(226 232 240));
  color: rgb(15 23 42);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.transparent{
  opacity: 0;
}

.typewriter h1:nth-child(1) {
  width: 5.5em;
  animation: typing1 1s steps(40, end), blink-caret .5s step-end infinite;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  width: 8.5em;
  opacity: 0;
  animation: typing2 1.5s steps(40, end), blink-caret .5s step-end infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes typing1 {
  from { 
    width: 0 
  }
  to { 
    width: 5.5em; 
    border: none
  }
}

@keyframes typing2 {
  from { 
    width: 0; 
    opacity: 1 
  }
  to { 
    width: 7.5em; 
    opacity: 1 
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent 
  }
  50% { 
    border-color: rgb(203 213 225) 
  }
}

.lineDown {
  animation: anim-lineDown 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.pop-outin {
  animation:anim-popoutin 0.5s  steps(40, end), .5s step-end infinite;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

.lineUp1 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.lineUp2 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.0s;
  animation-fill-mode: forwards;
}

.lineUp3 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}

.lineUp4 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

.lineUp5 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
}

.lineUp6 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
}

.lineUp7 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.lineUp8 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

.lineUp9 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}

@keyframes anim-lineDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0%);
  }
}

@keyframes anim-popoutin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes anim-lineUp {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}