@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

.typewriter{ 
  margin-top: 192px;
  margin-bottom: 86px;
}

.typewriter h1 {
  font-size: 64px;
  overflow: hidden;
  border-right: .15em solid rgb(15 23 42);
  white-space: nowrap;
  margin: 16px auto; 
}

@media (max-width: 1000px) {
  .typewriter h1 {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .typewriter{ 
    margin-top: 320px;
    margin-bottom: 112px;
  }

  .typewriter h1 {
    font-size: 36px;
  }
}

.typewriter h1:nth-child(1) {
  width: 7.2em;
  animation: typing1 1.2s steps(40, end), blink-caret .5s step-end infinite;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  width: 8.8em;
  opacity: 0;
  animation: typing2 1.5s steps(40, end), blink-caret .5s step-end infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes typing1 {
  from { 
    width: 0 
  }
  to { 
    width: 7.2em; 
    border: none
  }
}

@keyframes typing2 {
  from { 
    width: 0; 
    opacity: 1 
  }
  to { 
    width: 8.8em; 
    opacity: 1 
  }
}

:root {
  --background-color: transparent;
  --caret-color: rgb(203, 213, 225);
}

@keyframes blink-caret {
  from, to {
    border-color: var(--background-color);
  }
  50% {
    border-color: var(--caret-color);
  }
}