@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgb(239 246 255);
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(30 64 175);
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}