@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to top left, rgb(30 41 59), rgb(15 23 42));
  color: rgb(203 213 225);
  margin: 0;
  padding: 0;
}

.body-bright-mode {
  background: linear-gradient(to top left, rgb(203 213 225), rgb(148 163 184));
  color: rgb(15 23 42);
}

ul {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(203 213 225);
}

.a-bright {
  color: rgb(15 23 42);
}

nav {
  height: 68px;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed;
  transition: 0.5s;
}

.nav-dark {
  background-color: rgb(15 23 42);
}

.nav-bright {
  background-color: rgb(203 213 225);
}

nav li {
  float: left;
  padding: 24px 42px;
  font-size: 16px;
  font-weight: 500;
  display: inline;
}

nav li:hover {
  opacity: 0.8;
}

nav .icon {
  font-size: 24px;
  padding: 18px 24px;
  display: none;
  opacity: 0.8;
}

nav .icon:hover{
  opacity: 0.6;
}

nav label{
  float: right;
}

.heading {
  font-size: 36px;
  margin: 36px 0;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(15 23 42);
  transition: 0.3s;
  padding: 0 24px;
  border-radius: 5px; 
  margin: 24px 24px;
  display: inline-block;
  text-align: center;
}

.card-bright {
  box-shadow: 0 4px 8px 0 rgb(203 213 225);
}

.card img { 
  width: 100%;
  height: auto;
}

.card h3{
  font-size: 24px;
  padding: 8px 0;
}

.card h4{
  font-size: 18px;
  padding: 8px 0;
  font-weight: 500;
}

.card p {
  font-size: 18px;
  padding: 8px 0;
  text-align: justify;
}

.card:hover {
  transform: translateY(-6px);
}

.home-wrapper{
  margin: 48px 48px;
  text-align: center;
}

.typewriter{ 
  margin-top: 200px;
  margin-bottom: 132px;
}

.typewriter h1 {
  font-size: 64px;
  overflow: hidden;
  border-right: .15em solid rgb(15 23 42);
  white-space: nowrap;
  margin: 16px auto; 
}

.btn {
  background-color: rgb(30 41 59);
  border: none;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 32px;
}

.btn span{
  margin-right: 8px;
}

.btn-bright {
  background-color: rgb(148 163 184);
}

.btn:hover {
  opacity: 0.6;
}

.about-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.about {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-about {
  width: 80%;
}

.skills-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.skills {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.portofolio-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.portofolio {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-portofolio {
  width: 25%;
  height: auto;
}

.font-link-portofolio {
  font-size: 28px;
}

.portofolio p{
  height: 212px;
  overflow: auto;
}

.portofolio span:hover {
  opacity: 0.6;
}

.contact-wrapper{
  margin: 48px 24px;
  text-align: center;
}

.contact {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 80px;
  opacity: 0.8;
}

.width-contact {
  width: 15%;
}

.font-link-contact {
  font-size: 48px;
}

.contact span:hover {
  opacity: 0.6;
}

.fa-solid-bright{
  color: rgb(15 23 42);
}

footer {
  background-color: rgb(15 23 42);
  text-align: center;
  padding: 8px;
}

.footer-bright {
  background-color: rgb(203 213 225);
}

footer p {
  color: rgb(203 213 225);
  font-size: 18px;
}

@media (max-width: 1000px) {
  .home-wrapper h1 {
    font-size: 56px;
  }

  .heading {
    font-size: 32px;
  }

  .width-about {
    width: 90%;
  }
  
  .width-portofolio {
    width: 40%;
    height: auto;
  }
  
  .width-contact {
    width: 25%;
  }

  .portofolio p{
    height: 148px;
  }
}

@media (max-width: 768px) {
  nav.responsive {
    height: 388px;
  }

  nav .icon {
    display: block;
  }

  nav-bright .icon {
    display: block;
    color: rgb(15 23 42);
  }
  
  nav li {
    float: none;
    display: none;
    padding: 16px 24px;
  }

  nav label {
    float: none;
    display: none;
  }
  
  nav.responsive li {
    float: none;
    display: block;
  }

  nav.responsive label{
    float: none;
    display: block;
  }

  .home-wrapper h1 {
    font-size: 36px;
  }

  .btn {
    padding: 14px 28px;
    font-size: 14px;
  }

  .heading {
    font-size: 28px;
  }

  .font-link-contact {
    font-size: 40px;
  }

  .font-link-portofolio {
    font-size: 24px;
  }
  
  .width-portofolio {
    width: 90%;
    height: auto;
  }
  
  .width-contact {
    width: 40%;
  }

  .btn {
    padding: 14px 28px;
    font-size: 14px;
  }

  .card h4{
    font-size: 20px;
  }

  .card h6{
    font-size: 16px;
  }
  
  .card p {
    font-size: 16px;
  }  

  .portofolio p{
    height: auto;
  }
  
  footer a {
    padding: 16px 16px;
  }

  footer p {
    font-size: 16px;
  }
}

.switch {
  position: relative;
  margin: 16px 16px;
  width: 56px;
  height: 36px;
}

.switch input { 
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(203 213 225);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  padding: 4px 4px;
  background-color: rgb(15 23 42);
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-moon {
  font-size: 20px;
}

input:checked + .slider {
  background-color: rgb(15 23 42);
}

input:checked + .slider:before {
  background-color: rgb(203 213 225);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.transparent{
  opacity: 0;
}

.typewriter h1:nth-child(1) {
  width: 5.5em;
  animation: typing1 1s steps(40, end), blink-caret .5s step-end infinite;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  width: 8.5em;
  opacity: 0;
  animation: typing2 1.5s steps(40, end), blink-caret .5s step-end infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes typing1 {
  from { 
    width: 0 
  }
  to { 
    width: 5.5em; 
    border: none
  }
}

@keyframes typing2 {
  from { 
    width: 0; 
    opacity: 1 
  }
  to { 
    width: 7.5em; 
    opacity: 1 
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent 
  }
  50% { 
    border-color: rgb(203 213 225) 
  }
}

.lineDown {
  animation: anim-lineDown 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.pop-outin {
  animation:anim-popoutin 0.5s  steps(40, end), .5s step-end infinite;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

.lineUp1 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
}

.lineUp2 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.0s;
  animation-fill-mode: forwards;
}

.lineUp3 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}

.lineUp4 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

.lineUp5 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
}

.lineUp6 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
}

.lineUp7 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.lineUp8 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

.lineUp9 {
  animation: anim-lineUp 2s steps(40, end), .5s step-end  infinite;
  animation-delay: 4.4s;
  animation-fill-mode: forwards;
}

@keyframes anim-lineDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0%);
  }
}

@keyframes anim-popoutin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes anim-lineUp {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}